{% extends "base.html" %}
{% block lab %}Регистрация{% endblock %}

{% block main %}
<h1>Регистрация</h1>
<form method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="login" required>
    </div>
    <div>
        <label>Имя:</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label>Подтверждение пароля:</label>
        <input type="password" name="confirm" required>
    </div>
    {% if error %}
        <div style="color: red; margin: 10px 0;">{{ error }}</div>
    {% endif %}
    <button type="submit">Зарегистрироваться</button>
    <a href="{{ url_for('lab4.login') }}">Уже есть аккаунт?</a>
</form>
{% endblock %}