{% extends "base.html" %}
{% block lab %}Нравится/не нравится{% endblock %}

{% block main %}
    <div>
        Посажено деревьев: {{ tree_count }} 
    </div>
    <form method="post">
        <button name="operation" value="plant" 
                {% if tree_count >= max_trees %}disabled{% endif %}>
            Посадить дерево
        </button>
        <button name="operation" value="cut" 
                {% if tree_count <= 0 %}disabled{% endif %}>
            Срубить дерево
        </button>
    </form>
{% endblock %}