{% extends "base.html" %}
{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div style="color: red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}

        <form method="post">
            <p>
                <label>Заголовок:<br>
                    <input type="text" name="title" value="{{ request.form.title or '' }}" required style="width:100%; padding:8px;">
                </label>
            </p>
            <p>
                <label>Текст статьи:<br>
                    <textarea name="article_text" required rows="10" style="width:100%; padding:8px;">{{ request.form.article_text or '' }}</textarea>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="is_favorite" value="1"> Добавить в избранное
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="is_public" value="1"> Сделать публичной
                </label>
            </p>
            <button type="submit">Создать статью</button>
        </form>

    <p><a href="/lab5">← Вернуться в базу знаний</a></p>
{% endblock %}