{% extends "base.html" %}
{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>Вход</h1>

<form method="POST">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <p>
        <label><b>Логин:</b></label><br>
        <input type="text" name="login" value="{{ request.form.login or '' }}" required>
    </p>
    <p>
        <label><b>Пароль:</b></label><br>
        <input type="password" name="password" required>
    </p>
    <p>
        <label>
            <input type="checkbox" name="remember" value="1">
            Запомнить меня
        </label>
    </p>
    <button type="submit">Войти</button>
</form>

<p><a href="/lab8/register">Нет аккаунта? Зарегистрироваться</a></p>
{% endblock %}